<ion-view view-title="Registration" class="main-bg-color">
  <ion-content>
 	<!-- accordian code below-->
  	<ion-list>
        <div>
          <ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
                Your Account 
          </ion-item>
          <div ng-show="isGroupShown(group)">
          	<div class="list">

              <div class="item item-divider">
                Phone Number
              </div>
              <select ng-model="user.register_country" ng-change="getdialcode(user.register_country)" style="width:94%; margin-left:3%; margin-top:2%;">
						<option value="{{}}">Select Country</option>
						<option ng-selected="respone.name == user.s_country_name" ng-repeat="respone in country_names" value="{{respone.dial_code}},{{respone.name}}">{{respone.name}}</option>
			  </select>
            </div>
          	<div class="row">
  				<div class="col col-25">
                	<label class="input-border item item-input dark-input">
            			<input type="tel" disabled="disabled" placeholder="Dial code" ng-model="user.register_dial_code">
            		</label>
                </div>
  				<div class="col col-75">
  					<label class="input-border item-input dark-input">
            			<input type="tel" placeholder="Phone number" ng-model="user.register_phone">
            		</label>
                </div>
  			</div>
            
            <label class="item item-input dark-input">
            	<input type="password" placeholder="Password" ng-model="user.register_password">
            </label>
            <label class="item item-input dark-input">
            	<input type="password" placeholder="Confirm Password" ng-model="user.register_cpassword">
            </label>
          </div>
          <ion-item class="item-stable" ng-click="toggleGroup1(group1)" ng-class="{active: isGroupShown1(group1)}">
              <i class="icon" ng-class="isGroupShown1(group1) ? 'ion-minus' : 'ion-plus'"></i>
                Your Information 
          </ion-item>
          <div ng-show="isGroupShown1(group1)">
          	<label class="item item-input dark-input">
            	<input type="text" placeholder="Email" ng-model="user.register_email">
            </label>
            <label class="item item-input dark-input">
               	<input type="text" placeholder="Type your first name" ng-model="user.register_fname">
            </label>
            <label class="item item-input dark-input">
               	<input type="text" placeholder="Type your last name" ng-model="user.register_lname">
            </label>
            <div class="padding text-right">
              <button class="button login-button" ng-click="register(user)">
                Create account
              </button>
            </div>
          </div>
        </div>
    </ion-list>
    <div class="padding text-center">
     	<a href="#/app/login" class="positive">Login</a>
    </div>
	<!--accordian code above-->
  
  
  
    <!-- Logo -->
    <!--<div class="padding text-center">
      <h1>
        <i class="energized ion-bag"></i>
      </h1>
      <h2 class="energized">Contact Book</h2>
      <p class="energized">Contacts Management</p>
    </div>-->

    <!-- Signup form -->
   <!-- <div class="list list-inset no-bg">
      <label class="item item-input dark-input">
        <input type="text" placeholder="Email" ng-model="user.register_email">
      </label>
	  <label class="item item-input dark-input">
        <input type="text" placeholder="Your Name" ng-model="user.register_name">
      </label>
      <label class="item item-input dark-input">
        <input type="password" placeholder="Password" ng-model="user.register_password">
      </label>
	  <label class="item item-input dark-input">
        <input type="password" placeholder="Confirm Password" ng-model="user.register_cpassword">
      </label>
    </div>

    <div class="padding text-center">
      <button class="button button-block login-button" ng-click="register(user)">
        Create account
      </button>
      <a href="#/app/login" class="positive">Login</a>
    </div>-->

  </ion-content>
</ion-view>